.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.header_left {
    background-color: white;
    flex: 0.5;
    min-width: 70px;
    color: gray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.header_left > input {
    border: none;
    width: 100%;
}

.header_left > input:focus {
    outline-width: 0;
}

.header_right {
    display: flex;
    align-items: center;
}


.header_right > h4 {
    margin-left: 10px;
}